@model alytaloV2.Models.Valo

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>Valo</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.ValonMaara)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ValonMaara)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ValoPaalla)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ValoPaalla)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Talo.Kuvaus)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Talo.Kuvaus)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { /* id = Model.PrimaryKey */ }) |
    @Html.ActionLink("Back to List", "Index")
</p>
